# Google Cloud Settings
PROJECT_ID=your-project-id
LOCATION=us-central1

PORT=5000
HOST=127.0.0.1

# Gemini Model Settings
GEMINI_OCR_MODEL=gemini-2.5-flash
VISUAL_EMBEDDING_MODEL=multimodalembedding@001
TEXT_EMBEDDING_MODEL=text-embedding-004
